---
layout: base
title: Research Explained
description: Easy to understand, visual summaries of the latest research studies, written by a team of scientists and physicians.
---

<div class="paper-title" style="text-align: center;font-size: 1.5em;">
  <img src="/favicon.png" width="50px" height="50px" alt="Research Explained logo" style="display: block;margin: 0 auto 1em auto;" />
  Research Explained
</div>

<div class="paper-question">
  <h1>{{ page.description }} &nbsp; <a href="/about" style="color: #fff;">Learn more&nbsp;&rarr;</a></h1>
</div>

<article>
  <ul class="timeline timeline-split">
    {% assign summaries = site.pages | where: "layout", "summary" | sort: "published_on" | reverse %}
    {% for s in summaries %}
      {% if s.published_on %}
        {% assign latest = site.pages | where: "doi", s.doi | sort: "revision" | last %}
        {% if s.version == latest.version %}
        <li class="timeline-item">
          <div class="timeline-info">
            <span>{{ s.published_on | date: "%b %e, %Y" }}</span>
            {% if s.version > 1 %}
            <span class="revision_notice"><span class="pill">Revised</span></span>
            {% endif %}
          </div>
          <div class="timeline-marker">
            <span class="dot"></span>
          </div>
          <div class="timeline-content">
            <h3 class="timeline-title">
              <a href="{{ s.url }}">{{ s.title }}</a>
            </h3>
            <p>{{ s.description }}</p>
          </div>
        </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</article>

{% include footer.html %}
