<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="visual abstract, research summary">

  <meta property="og:site_name" content="Research Explained"/>
  <meta property="og:url" content="{{ page.url | absolute_url }}"/>
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta name="twitter:site" content="@researchexplain">
  {% if page.preview %}
  <meta property="og:image" content="{{ page.url | absolute_url }}preview.png">
  <meta name="twitter:image:alt" content="Visual Abstract for {{ page.research_title }}">
  <meta name="twitter:card" content="summary_large_image">
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" href="/css/main.css" type="text/css" />
  <link rel="stylesheet" href="/css/hint.css" type="text/css" />
  <link rel="alternate" type="application/atom+xml" title="Research Explained" href="/atom.xml">
  <noscript>
    <style type="text/css">
      {% include print.css %}
    </style>
  </noscript>
  <script async defer data-domain="researchexplained.org" src="https://stats.researchexplained.org/js/index.js"></script>
  <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
</head>
<body>

{{ content }}

</body>
</html>
