<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="visual abstract, research summary">

  <meta property="og:site_name" content="Research Explained"/>
  <meta property="og:url" content="{{ page.url | absolute_url }}"/>
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta name="twitter:site" content="@researchexplain">
  {% if page.preview %}
  <meta property="og:image" content="{{ page.url | absolute_url }}preview.png">
  <meta name="twitter:image:alt" content="Visual Abstract for {{ page.research_title }}">
  <meta name="twitter:card" content="summary_large_image">
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" href="/css/main.css" type="text/css" />
  <link rel="stylesheet" href="/css/hint.css" type="text/css" />
  <link rel="alternate" type="application/atom+xml" title="Research Explained" href="/atom.xml">
  <noscript>
    <style type="text/css">
      {% include print.css %}
    </style>
  </noscript>
  <script async defer data-domain="researchexplained.neil.gg" src="https://plausible.io/js/script.outbound-links.js"></script>
  <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
  <script>
    !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
    posthog.init('t65rFNLbbNQoX86r7AIzyev0GrC814xfs9-R39BfF0o', {api_host: 'https://app.posthog.com'})
  </script>
</head>
<body>

{{ content }}

</body>
</html>
