---
layout: base
---

<div class="paper-title">
  {% if page.published_on == null or page.published_on == "" %}
    <div class="warning" style="margin-top: 1em; font-size: 1.2em;background-color: #EC4C47;color: #fff;border-color: red;">
      <strong>This page is unpublished.</strong> This is a preview only and is not linked from the home page. DO NOT SHARE!
    </div>
  {% endif %}
  <a href="/" style="text-decoration: none; font-weight: bold">Research Explained</a> &rarr; <em>{{ page.research_title }}</em>

  {% assign latest = site.pages | where: "doi", page.doi | sort: "version" | last %}
  {% if page.version != latest.version %}
    <div class="warning" style="margin-top: 1em; font-size: 1.2em;">
      <strong>The original paper was updated.</strong> The authors revised their paper based on community feedback. The changes were significant enough to require an updated explanation. <a href="{{ latest.url }}">See the latest explanation &rarr;</a>
    </div>
  {% endif %}
</div>

<div class="paper-question">
  <h1>{{ page.title }}</h1>
</div>

<article>
  <p class="summary">
    {{ page.description }}
  </p>

  {% include show_details.html %}
  <div class="collapsible" style="margin-bottom: 4em;">
    {% capture details_include %}{% include_relative _content/details.md %}{% endcapture %}
    {{ details_include | markdownify }}

    {% include hide_details.html %}
  </div>

  {{ content }}
</article>

<div class="appendix">
  {% include paper.html %}

  {% capture appendix_include %}{% include_relative _content/appendix.md %}{% endcapture %}
  {{ appendix_include | markdownify }}

  {% include revisions.html %}
  <h3>Updates and Corrections</h3>
  <p>If you see a mistake or want to suggest changes, please <a href="mailto:contact@researchexplained.org?subject={{ page.title | uri_escape }}">contact us</a>.</p>
  {% include sharing.html %}
</div>

{% include footer.html %}

<script>
function fallbackCopyTextToClipboard(text, cb) {
  var textArea = document.createElement("textarea");
  textArea.value = text;

  // Avoid scrolling to bottom
  textArea.style.top = "0";
  textArea.style.left = "0";
  textArea.style.position = "fixed";

  document.body.appendChild(textArea);
  textArea.focus();
  textArea.select();

  try {
    if (document.execCommand('copy')) cb();
  } finally {
    document.body.removeChild(textArea);
  }
}
function copyTextToClipboard(text, cb) {
  if (!navigator.clipboard) {
    fallbackCopyTextToClipboard(text, cb);
    return;
  }
  navigator.clipboard.writeText(text).then(cb);
}

document.getElementById("copyUrl").addEventListener('click', function(e) {
  e.preventDefault();
  copyTextToClipboard(this.href, function() {
    this.lastElementChild.innerText = "Copied!";
  }.bind(this));
  return false;
});
</script>

{% include expandable_js.html %}

{% if page.include_js %}
{% include_relative _content/js.html %}
{% endif %}