---
layout: base
---

<div class="paper-title">
  Research Explained &rarr; <em>{{ page.research_title }}</em>
  <!-- <a href="/" style="text-decoration: none; font-weight: bold">Research Explained</a> &rarr; <em>{{ page.research_title }}</em> -->

  {% assign latest = site.pages | where: "doi", page.doi | sort: "revision" | last %}
  {% if page.version != latest.version %}
    <div class="warning" style="margin-top: 1em; font-size: 1.2em;">
      <strong>This paper has been updated.</strong> The authors revised their paper based on community feedback. The changes were significant enough to require an updated explanation. <a href="{{ latest.url }}">See the latest explanation &rarr;</a>
    </div>
  {% endif %}
</div>

<div class="paper-question">
  <h1>{{ page.title }}</h1>
</div>

{{ content }}

{% include footer.html %}

<script>
function fallbackCopyTextToClipboard(text, cb) {
  var textArea = document.createElement("textarea");
  textArea.value = text;

  // Avoid scrolling to bottom
  textArea.style.top = "0";
  textArea.style.left = "0";
  textArea.style.position = "fixed";

  document.body.appendChild(textArea);
  textArea.focus();
  textArea.select();

  try {
    if (document.execCommand('copy')) cb();
  } catch (err) {
    // do nothing
  }

  document.body.removeChild(textArea);
}
function copyTextToClipboard(text, cb) {
  if (!navigator.clipboard) {
    fallbackCopyTextToClipboard(text, cb);
    return;
  }
  navigator.clipboard.writeText(text).then(function() {
    cb();
  }, function(err) {
    // do nothing
  });
}

document.getElementById("copyUrl").addEventListener('click', function(e) {
  e.preventDefault();
  copyTextToClipboard(this.href, function() {
    this.lastElementChild.innerText = "Copied!";
  }.bind(this));
  return false;
});

var coll = document.getElementsByClassName("expandable");
for (var i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function(e) {
    e.preventDefault();
    this.classList.toggle("active");
    var content = this.parentElement.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
    return false;
  });
}

var coll2 = document.getElementsByClassName("collapse");
for (var i = 0; i < coll2.length; i++) {
  coll2[i].addEventListener("click", function(e) {
    e.preventDefault();
    var c = this.parentElement.parentElement.previousElementSibling.lastElementChild;
    c.click();
    if (c.parentElement.previousElementSibling)
      c.parentElement.previousElementSibling.scrollIntoView();
    else
      c.parentElement.scrollIntoView();
    return false;
  });
}
</script>
